{{- define "main" -}}
{{ `<!-- ENTER: layouts/event/list.html -->` | safeHTML }}

{{ $customDateFormat := "02.01.2006" }}
{{ with .Site.Params.customDateFormat }}{{ $customDateFormat = . }}{{ end }}

<div class="container mt-3 mb-3">
  <div class="mb-3">    
    <div class="card">
      <div class="card-body">  
        <h1>{{ .Title }}</h1>
        {{ .Content | markdownify }}
        <ul>
          {{ range where .Site.Pages "Section" .Section }}
            {{ `<!-- range .RegularPages: layouts/event/list.html -->` | safeHTML }}
            <li>{{ .Date.Format $customDateFormat }} - <a href="{{ .RelPermalink }}" title="{{ .Title }}">{{ .Title }}</a></li>
          {{ end}}
        </ul>
      </div>
    </div>
  </div>
</div>

{{ `<!-- EXIT: layouts/event/list.html -->` | safeHTML }}
{{- end -}}
